body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	background-color: #101010;
}

input, button, textarea, select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#toolbar, #files_panel, #left_panel, #right_panel, #running_bar {
	position: fixed;
	box-sizing: border-box;
}

#toolbar {
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	padding: 0;
	background-color: gray;
}

#wsState {
	position: fixed;
	top: 8px;
	left: 8px;
	height: 14px;
	width: 14px;
	border-radius: 7px;
	background-color:rgb(255, 84, 82);
}
  
#toolbar .app_name {
	position: fixed;
	top: 0;
	left: 20px;
	padding: 7px 12px;
}

#toolbar ul {
	position: fixed;
	top: 0;
	left: 20px;
	right: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#toolbar ul li {
	float: left;
	text-align: center;
	padding: 7px 12px;
	text-decoration: none;
}

#toolbar ul li[data-cmd]:hover {
	background-color: #666;
	cursor: pointer;
}

#running_bar {
	top: 30px;
	left: 0;
	right: 0;
	height: 4px;
	padding: 0;
	background-color: #333;
	display: none;
}

#running_bug {
	width: 60px;
	height: 4px;
	background-color: rgb(187, 21, 21);
}

#filename {
	float: left;
	padding: 7px 12px;
}

#dirtyMsg {
	color: rgb(255, 84, 82);
}

#files_panel, #left_panel, #right_panel {
	top: 30px;
	bottom: 0;
	background-color: silver;
	white-space: nowrap;
	overflow: hidden auto;
	text-overflow: ellipsis;
/*
	display: none;
 */
}

#files_panel, #left_panel {
	left: -180px;
	width: 180px;
}

#files_panel div.file {
	padding: 4px;
	margin: 6px;
	cursor: pointer;
	background-color: white;
}

.file_actions {
	float: right;
}

#left_panel div.category,
#right_panel div.form_section {
	color: #666;
	padding: 4px;
	margin: 6px 0;
}

#left_panel div.category {
	cursor: pointer;
}

#left_panel div.type {
	display: none;
}

#left_panel div.type {
	padding: 4px;
	margin: 6px 0;
	cursor: auto;
	color: gray;
	white-space: nowrap;
	overflow: hidden auto;
	text-overflow: ellipsis;
}

#left_panel div.type.applicable {
	cursor: pointer;
	color: black;
}

#left_panel div.type.root,
.node.root,
.node_form.root {
	background-color: #B1567B;
}

#left_panel div.type.composite,
.node.composite,
.node_form.composite {
	background-color: #56B18D;
}

#left_panel div.type.replyDeco,
#left_panel div.type.shieldDeco,
#left_panel div.type.execDeco,
.node .decorator,
.deco_form {
	background-color: #A8B156;
}

#left_panel div.type.condition,
.node.condition,
.node_form.condition {
	background-color: #5680B1;
}

#left_panel div.type.action,
.node.action,
.node_form.action {
	background-color: #5F56B1;
}

#left_panel div.type.importFile {
	background-color: #999;
}

#right_panel {
	right: -180px;
	width: 180px;
	padding: 0;
}

#right_panel div.node_form,
#right_panel div.deco_form {
	padding: 4px;
	margin-bottom: 8px;
}

#right_panel div.form_field {
	padding0: 4px;
	margin: 4px 0;
}

#right_panel div.form_help {
	margin: 4px 0;
	white-space: normal;
	font-size: 80%;
}

#right_panel div.node_id {
	margin-top: 6px;
	font-size: 80%;
}

.replyDecorators_section,
.shieldDecorators_section,
.execDecorators_section {
		display: none;
}

input.textInput,
textarea.textInput {
	width: 166px;
}

.node_actions {
	float: right;
}

.compositeTitle, .node_actions {
	cursor: pointer;
}

#portal {
	position: fixed;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

#canvas {
	transform: scale(1);
	transform-origin: 0 0;
	position: relative;
/*
	border: 1px solid red;
 */
}

#results {
	position: fixed;
	left: 4px;
	bottom: 4px;
	background-color: silver;
	opacity: 0;
	padding: 6px;
}

/* .node_left:hover, .node_right:hover, .node:hover {
	background-color: gray;
} */

.node {
	border: 2px solid transparent;
	/* background-color: silver; */
	width: 160px;
	/* padding: 4px; */
	min-height: 80px;
	box-sizing: border-box;
	position: absolute;
}

.node.clickable {
	cursor: pointer;
}

.node#root {
	height: 30px;
	min-height: 0;
	border-radius: 10px;
	box-sizing: border-box;
}

.node.selected {
	/* border-color: red; */
	box-shadow: 0 0 10px 5px silver;
}

.node.success, .node.state1 {
	/* border-color: red; */
	box-shadow: 0 0 10px 5px green;
}

.node.failure, .node.state2 {
	/* border-color: red; */
	box-shadow: 0 0 10px 5px red;
}

.node.running, .node.state3 {
	/* border-color: red; */
	box-shadow: 0 0 10px 5px yellow;
}

.node_label {
	border0: 1px solid silver;
}

.node_label, .decorator {
	padding: 4px;
	text-align: center;
	margin-bottom: 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.node_replies {
	border0: 1px solid silver;
}

.node_reply {
	background-color: yellow;
}

.node_execs {
	border0: 1px solid silver;
}

.node_exec {
	background-color: yellow;
}

.divRevealIcon {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.node.showChildren .revealIcon::before {
	content: "\f150";
}

.node.showChildren,
.node.hideChildren {
	padding-bottom: 16px;
}

.node.hideChildren .revealIcon::before {
	content: "\f151";
}

.node.isDisabled {
	opacity: 0.5;
	color: #333;
}

#slip {
	position: absolute;
	background-color: white;
	text-align: center;
	/* width: 240px; */
	top: 0;
	right: 180px;
	padding: 6px;
}