body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	background-color: #101010;
}

input, button, textarea, select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#toolbar, #left_panel, #right_panel {
	position: fixed;
	box-sizing: border-box;
}

#toolbar {
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	padding: 0;
	background-color: gray;
}

#toolbar .app_name {
	float: left;
	padding: 7px;
}

#toolbar ul {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#toolbar ul li {
	float: left;
	text-align: center;
	padding: 7px 12px;
	text-decoration: none;
}

#toolbar ul li[data-cmd]:hover {
	background-color: #666;
	cursor: pointer;
}

#filename {
	float: left;
	padding: 7px 12px;
}

#dirtyMsg {
	/* color: red; */
}

#right_panel {
	top: 30px;
	bottom: 0;
	right: 0;
	width: 240px;
	padding: 4px;
	background-color: silver;
	overflow: hidden auto;
	text-overflow: ellipsis;
}

#right_panel div.form_section {
	color: #666;
	padding: 4px;
	margin: 6px 0;
}

#right_panel div.form_field {
	padding0: 4px;
	margin: 4px 0;
}

#right_panel .bb_row {
	margin: 6px 0;
	cursor: pointer;
}

#portal {
	position: fixed;
	top: 30px;
	left: 0;
	right: 240px;
	bottom: 0;
	overflow: auto;
	color: white;
	padding: 7px 12px;
}

.portal_row {
	width: 100%;
}
.portal_row.reply {
	color: pink;
}
.portal_row.sent {
	color: yellow;
}

#slip {
	position: absolute;
	background-color: white;
	text-align: center;
	/* width: 240px; */
	top: 0;
	right: 180px;
	padding: 6px;
}