<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<title>BT Editor</title>
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="favicon/site.webmanifest">
	<link href="css/bt.css" rel="stylesheet">
	<link href="css/fontawesome.css" rel="stylesheet">
	<link href="css/brands.css" rel="stylesheet">
	<link href="css/regular.css" rel="stylesheet">
	<link href="css/solid.css" rel="stylesheet">
	<script type="text/html" id="category_template">
		<div class="category" data-cat="{{cat}}">
			<i class="far fa-caret-square-right"></i>
			{{name}}
		</div>
	</script>
	<script type="text/html" id="type_template">
		<div class="type {{classes}}" data-type="{{type}}" title="{{help}}">
			<i class="{{icon}}"></i>
			{{name}}
		</div>
	</script>
	<script type="text/html" id="import_template">
		<div class="type importFile{{classes}}" data-type="importFile" data-filename="{{filename}}">
			<i class="fas fa-tree"></i>
			{{filename}}
		</div>
	</script>
	<script type="text/html" id="file_template">
		<div class="file" data-fn="{{name}}">
			<span class="file_actions">
				<i class="fas fa-trash-alt" onclick="trashFile(this, event)"></i>
			</span>
			{{name}}
		</div>
	</script>
	<script type="text/html" id="root_template">
		<div class="node clickable {{class}}" id="{{id}}">
			<div class="node_label">
				<i class="{{icon}}"></i>
				<span class="label">{{label}}</span>
			</div>
		</div>
	</script>
	<script type="text/html" id="node_template">
		<div class="node clickable {{class}}" id="{{id}}">
			<div class="shieldDeco"></div>
			<div class="replyDeco"></div>
			<div class="node_label">
				<i class="{{icon}}"></i>
				<span class="label">{{label}}</span>
			</div>
			<div class="execDeco"></div>
			<div class="divRevealIcon">
				<i class="fas revealIcon"></i>
			</div>
		</div>
	</script>
	<script type="text/html" id="deco_template">
		<div class="decorator" data-type="{{type}}">
			<i class="{{icon}}"></i>
			<span class="label">{{label}}</span>
		</div>
	</script>
	<script type="text/html" id="connector_template">
		<svg style="position: absolute; z-index: -1000" width="0" height="0" id="{{id}}" pointer-events="none" position="absolute" version="1.1" xmlns="http://www.w3.org/2000/svg">
			<path d="" pointer-events="none" version="1.1" fill="none" stroke="gray" style="" stroke-width="2"></path>
		</svg>
	</script>
	<script type="text/html" id="node_form_template">
		<div class="form_section">
			Tree Node
		</div>
		<div id="shieldDeco"></div>
		<div id="replyDeco"></div>
		<div class="node_form {{cat}}">
			<div class="form_field">
				{{#notRoot}}
				<span class="node_actions">
					<i class="fas fa-arrows-alt" onclick="selectedNode.relocate(this, event)"></i>
					<i class="fas fa-sticky-note" onclick="selectedNode.node_note(this, event)"></i>
					<i class="fas fa-trash-alt" onclick="selectedNode.delete(this, event)"></i>
				</span>
				{{/notRoot}}
				<span {{#isComp}}class="compositeTitle" onclick="selectedNode.swap(this, event)"{{/isComp}}>
					<i class="node_icon {{icon}}"></i>
					<span class="form_title">{{name}}</span>
				</span>
			</div>
			{{#help}}
			<div class="form_field form_help">{{{help}}}</div>
			{{/help}}
			<div class="form_field">
				<span class="form_label">Label: {{nodeTitle}}</span><br>
				<input type="text" name="label" class="textInput" value="{{label}}">
			</div>
			{{{fields}}}
			<div class="form_field note" {{^note}}style="display: none"{{/note}}>
				<span class="form_label">Notes:</span><br>
				<textarea name="note" class="textInput">{{note}}</textarea>
			</div>
			<div class="form_field node_id">ID: {{id}}</div>
		</div>
		<div id="execDeco"></div>
	</script>
	<script type="text/html" id="deco_form_template">
		<div class="deco_form" data-type="{{type}}">
			<div class="form_field">
				<span class="node_actions">
					<i class="fas fa-sticky-note" onclick="selectedNode.deco_note(this, event)"></i>
					<i class="fas fa-trash-alt" onclick="selectedNode.deleteDeco(this, event)"></i>
				</span>
				<i class="{{icon}}"></i>
				<span class="deco_title">{{name}}</span>
			</div>
			{{#help}}
			<div class="form_help">{{help}}</div>
			{{/help}}
			{{{fields}}}
			<div class="form_field note" {{^note}}style="display: none"{{/note}}>
				<span class="form_label">Notes:</span><br>
				<textarea name="{{type}}_note" class="textInput">{{note}}</textarea>
			</div>
		</div>
	</script>
	<script type="text/html" id="form_field_template">
		<div class="form_field">
			<span class="form_label" title="{{key}}">{{{label}}}:</span><br>
			<input type="text" name="{{name}}" class="textInput" value="{{value}}">
		</div>
	</script>
	<script type="text/html" id="form_textarea_template">
		<div class="form_field">
			<span class="form_label" title="{{key}}">{{{label}}}:</span><br>
			<textarea name="{{name}}" class="textInput" rows="6">{{value}}</textarea>
		</div>
	</script>
	<script type="text/html" id="form_select_template">
		<div class="form_field">
			<span class="form_label" title="{{key}}">{{{label}}}:</span><br>
			<select name="{{name}}" class="selectInput">
				<option value=""></option>
			{{#options}}
				<option value="{{value}}" {{selected}}>{{text}}</option>
			{{/options}}
			</select>
		</div>
	</script>
	<script type="text/html" id="form_cb_template">
		<div class="form_field">
			<label>
				<input type="checkbox" name="{{name}}" value="{{value}}" {{checked}} data-notvalue="{{notvalue}}" />
				<span class="form_label" title="{{key}}">{{label}}</span>
			</label>
		</div>
	</script>
	<script type="text/html" id="relocate_template">
		<div id="slip">
			<span class="form_label">Select a new parent.</span>
			<input type="button" name="cancel" value="Cancel" onclick="selectedNode.relocate(this, event, 'cancel')">
		</div>
	</script>
	<script type="text/html" id="swap_select_template">
			<select name="typeSelect">
			{{#options}}
				<option value="{{value}}" {{selected}}>{{text}}</option>
			{{/options}}
			</select>
	</script>
</head>

<body>
	<div id="portal">
		<div id="results"></div>
		<div id="canvas"></div>
	</div>
	<div id="toolbar">
		<div id="wsState"></div>
		<ul>
			<li>BT Editor</li>
			<li data-cmd="files" title="Files"><i class="fas fa-list"></i></li>
			<li data-cmd="new" title="New"><i class="fas fa-file-circle-plus"></i></li>
			<li data-cmd="save" title="Save"><i class="fas fa-file-arrow-up"></i></li>
			<li data-cmd="save_as" title="Save as…"><i class="fas fa-file-circle-question"></i></li>
			<li id="filename" title="File name"></li>
			<li data-cmd="run" title="Run"><i class="fas fa-play"></i></li>
			<li data-cmd="pause" title="Pause"><i class="fas fa-pause"></i></li>
			<li data-cmd="stop" title="Stop"><i class="fas fa-stop"></i></li>
			<li id="websocket_state"></li>
			<li data-cmd="monitor" title="Monitor"><i class="fas fa-eye"></i></li>
		</ul>
	</div>
	<div id="running_bar">
		<div id="running_bug"></div>
	</div>
	<div id="files_panel"></div>
	<div id="left_panel"></div>
	<div id="right_panel">
		<form id="inspector" onsubmit="return false;" autocomplete="off"></form>
	</div>

<!--
	<div id="portal">
		<div id="canvas">
		</div>
	</div>
 -->

	<!-- <script src="js/jsplumb.js"></script> -->

	<script src="js/jquery.min.js"></script>
	<script src="js/js.cookie.js"></script>
	<script src="js/mustache.js"></script>
	<script src="js/draggable.js"></script>
	<!-- <script src="js/jquery.easing.js"></script> -->

	<script src="js/data.js"></script>
	<script src="js/Node.js"></script>
	<script src="js/WebSocketClient.js"></script>
	<script src="js/FileHandler.js"></script>
	<script src="js/bt.js"></script>
</body>

</html>