<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<title>BT Monitor</title>
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="favicon/site.webmanifest">
	<link href="css/monitor.css" rel="stylesheet">
	<link href="css/fontawesome.css" rel="stylesheet">
	<link href="css/regular.css" rel="stylesheet">
	<link href="css/solid.css" rel="stylesheet">
	<script type="text/html" id="portal_row_template">
		<div class="portal_row {{class}}">
			{{text}}
		</div>
	</script>
	<script type="text/html" id="bb_value_template">
		<div class="bb_row">
			<span class="bb_key">{{key}}: <span class="bb_value" data-key="{{key}}">{{value}}</span></span>
		</div>
	</script>
</head>

<body>
	<div id="toolbar">
		<div class="app_name">BT Monitor</div>
		<ul>
			<li data-cmd="connect">Connect</li>
<!--
			<li data-cmd="open">Open…</li>
			<li data-cmd="save">Save</li>
			<li data-cmd="save_as">Save as…</li>
			<li data-cmd="run"><i class="fas fa-play"></i></li>
			<li data-cmd="pause"><i class="fas fa-pause"></i></li>
			<li data-cmd="stop"><i class="fas fa-stop"></i></li>
 -->
			<li id="websocket_state">Closed</li>
		</ul>
	</div>
	<div id="right_panel">
		<form onsubmit="return false;" autocomplete="off">
		<div class="form_section">
			Blackboard
		</div>
		<div class="form_field">
			<span class="form_label">Key:</span><br>
			<input type="text" name="key" class="textInput" value="">
		</div>
		<div class="form_field">
			<button onclick="bbget(this)">Get</button>
		</div>
		<div class="form_field">
			<span class="form_label">Value:</span><br>
			<input type="text" name="value" class="textInput" value="">
		</div>
		<div class="form_field">
			<button onclick="bbset(this)">Set</button>
		</div>
		<div class="form_field">
			<button onclick="bbdump(this)">Dump</button>
		</div>
		</form>
		<div class="form_section">
			Blackboard Values
		</div>
		<div id="blackboard">
		<div>
	</div>
	<div id="portal">
	</div>

	<!-- <script src="js/jsplumb.js"></script> -->

	<script src="js/jquery.min.js"></script>
	<script src="js/js.cookie.js"></script>
	<script src="js/mustache.js"></script>
	<!-- <script src="js/jquery.easing.js"></script> -->

	<script src="js/WebSocketClient_monitor.js"></script>
	<script src="js/monitor.js"></script>
</body>

</html>